@font-face {
    font-family: 'Whale';
    src: url('fonts/whale.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    background-color: mistyrose;   
}

header {
    background-color: palevioletred;
    padding: 10px 0;  
    border-radius: 20px;
    margin: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}


ul {
    display: flex;
    list-style: none; 
    gap: 20px; 
    margin: 0;
    padding: 0; 
}

li {
    font-family: 'Whale';
    font-size: 30px;
}

 a {
    text-decoration: none;
    color: bisque;
}


section{
    border-radius: 20px;
    background-color: palevioletred;
}

img{
    border-radius: 20px;
}


p{
    font-family: Helvetica, Arial, sans-serif;
}

h3{
    font-family: Helvetica, Arial, sans-serif;
}

h1{
    font-family: whale;
    color: bisque;
}

.hamburguer{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width:25px ;
    height: 3px;
margin: 5px auto;
background-color: bisque;
border-radius: 3px;

}

nav > a > img {
    animation-name: logo_movement;
    animation-duration: 4s;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite; 
}

@keyframes logo_movement {
    0%   { transform: translateY(0); }
    25%  { transform: translateY(-10px); } 
  
    75%  { transform: translateY(10px); } 
    100% { transform: translateY(0px); } 
}

footer{
   
        background-color: palevioletred;
        border-radius: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;
}

footer > ul{
    display: flex;
align-items: center;

}

@media only screen and (max-width: 600px) {
   .hamburguer{
    display: block;
margin-right: 10%;
}

    ul{
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
      
background-color: palevioletred;
border-radius: 40px;
    }

li{
    margin: 5px 0;
 
    font-size: 20px;
}

ul.active{
    left: 0;
}

a > img{
    width: 60%;
}

}